.todos {
    width: 564px;
    min-height: 400px;
    margin: 0 auto;
    background: url('https://media.istockphoto.com/id/472321898/es/foto/fondo-y-la-textura-de-tabl%C3%B3n-de-anuncios-de-corcho-vac%C3%ADo.jpg?s=612x612&w=0&k=20&c=QzBKjUghvAAe0yl_-jH7ynkfqhmGA6lRqqGkJoZB7_g=');
}

.todoCard {
    width: 80%;
    height: 120px;
    padding: 16px 0;
    margin: 16px auto;
    background-color: #ffff88;
}
